<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	<settings>
		<!-- 카멜표기법으로 자동으로 바꿔주는 역할 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
	
	</settings>
	<typeAliases>
		<package name="com.navercorp.rankedsns"/>
	</typeAliases>

</configuration>

