<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="friend">
	<insert id="addFriendRequest" parameterType="FriendVO">
		INSERT INTO friend(send_user_id, receive_user_id)
		VALUES (#{sendUserId} ,#{receiveUserId})
	</insert>
	
	<delete id="deleteFriend" parameterType="FriendVO">
		DELETE FROM friend
		WHERE	send_user_id = #{sendUserId} 
		AND receive_user_id = #{receiveUserId}
	</delete>
	
	<select id="getFriendList">
		SELECT 
	</select>
	
	<select id="getRequestedList">
		SELECT 
	</select>
	
	<select id="getRequestingList">
		SELECT 
	</select>
	
	<select id="getFriendCnt" resultType="int">
		SELECT
			((SELECT	
				COUNT(send_user_id)
			FROM
				friends
			WHERE
				status = #{status}
			AND receive_user_id = #{userId})
			+
			(SELECT	
				COUNT(receive_user_id) 
			FROM
				friends
			WHERE
				status = #{status}
			AND send_user_id = #{userId})) AS friendCnt;
	</select>
	
	<update id="setFriendStatus">
		UPDATE friend
		SET status = #{status}
		WHERE	send_user_id = #{sendUserId} 
		AND receive_user_id = #{receiveUserId}
	</update>
</mapper>


